*{
    margin: 0;
    padding: 0;
}

#header{
    background-color: #5AA658;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
#menu{
    width: 100%;
    display: flex;
    align-items: center;
    margin-right: 20px;
}
li{
    list-style: none;
    padding: 10px;
}
a{
    color: white;
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;
}
a img{
    width: 100px;
    margin: 20px;
}

#btn-mobile{
    display: none;
    justify-items: end;
}
#btn-login{
    display: none;
    justify-items: end;
}

li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  li > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }