@media (max-width: 780px){

    #menu{
        width: 100%;
        height: 0px;
        position: absolute;
        display: block;
        transition: 1s;
        right: -20px;
        margin-top: 45px;
        z-index: 100;
        visibility: hidden;
        overflow-y: hidden;
        background-color: #5AA658;
        text-align: center;
    }
    #nav.active #menu{
        visibility: visible;
        overflow-y: auto;
        height: 300px;
    }
    #btn-mobile{
        display: flex;
        margin-right: 20px;
        background: none;
        border: none;
    }
    #hamburger{
        width: 40px;
        color: white;
        border-top: 5px solid;
    }
    #hamburger::after, #hamburger::before{
        content: '';
        height: 5px;
        display: block;
        margin-top: 5px;
        background-color: currentColor;
        position: relative;
    }
}