<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header id="header">
        <a href="#"><img src="../SEGMED/images/logo.png" alt="A"></a>
        <nav id="nav">
            <button id="btn-login">
                <span id="icon-login">
                    <ion-icon name="person-circle-outline" id="menu-login"></ion-icon>
                </span>
                    
                    <!-- <img id="menu-login" src="../SEGMED/images/icons/menu-login.svg" alt=""> -->
            </button>
            <button id="btn-mobile">
                <span id="hamburger"></span>
            </button>
            <ul id="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Serviços</a></li>
                <li><a href="#">Segmed PPP</a></li>
                <li><a href="#">Empresa</a></li>
                <li><a href="#">Orçamento</a></li>
                <li><a href="#">Informativos</a></li>
                <li><a href="#">Fale Conosco</a></li>
            </ul>
        </nav>
        
    </header>
    
</body>
</html>
<script>
    const btnmobile = document.getElementById('btn-mobile');

    function toggleMenu(event){
        if(event.type === 'touchstart') event.preventDefault(); 
        const nav = document.getElementById('nav');
        nav.classList.toggle('active');
    }

    btnmobile.addEventListener('click', toggleMenu);
    btnmobile.addEventListener('touchstart', toggleMenu);


</script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>